<!DOCTYPE HTML>
<html>
<head>
    <title>HiCab display_device simulation</title>
    <script type="text/javascript" src="/scripts/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $('form#register').submit(function(event) {
                $.ajax( {
                    type:'Get',
                    url:'http://' + location.host + '/subscribe/display',
                    success:function(data) {
                        $('#lbl_channel').text(data['channel'].toString());
                    }
                })
                return false;
            });
            $('form#getmap').submit(function(event) {
                $.ajax( {
                    type:'Get',
                    url:'http://' + location.host + '/getmap',
                    success:function(data) {
						$('#log').append('Map: ' + JSON.stringify(data) + '<br/>');
                    }
                })
                return false;
            });
            var socket;
            $('form#connect').submit(function(event) {
            // Connection
                socket = new WebSocket("ws://" + location.host + "/" + $('#lbl_channel').text());
                socket.onopen = function() {
                };
                socket.onclose = function() {
                   $('#log').append('Socket closed <br/>');
                };
                socket.onmessage = function(evt){
                    $('#log').append(evt.data + '<br/>');
                    cabs = eval("(" + evt.data.replace(/False/g,"false").replace(/True/g, "true").replace(/None/g, "null") + ')')
                    $('#cabs').text("");
                    cabs['cab_infos'].forEach(function(data) {
                        $('#cabs').append("<li>Cab#" + data["id_cab"] + "<br/></li>");
                    });
                    
                }
                return false;
            });
			// Create a random cab request
			$('form#create_request').submit(function(event) {
                var req = {location: ""};
				socket.send(JSON.stringify(req))
				return false;
			});
			
            // Envoi message
			$('form#send').submit(function(event) {
                socket.send($('#send_data').val());
                return false;
            });
            // Deconnection
			$('form#disconnect').submit(function(event) {
                socket.close();
                return false;
            });
        });
    </script>
</head>
<body>
    <h1>HiCab display_device simulation</h1>
    <h2>Infos:</h2>
    Channel:<label id='lbl_channel'>?</label><br/><br/>
    <ul id='cabs'>
    </ul>
    <h2>Commands: </h2>
    <form id="getmap" method="POST" action="">
        <input type="submit" value="Get Map">
    </form>
    <form id="register" method="POST" action="">
        <input type="submit" value="Register">
    </form>
    <form id="connect" method="POST" action="">
        <input type="submit" value="Connect">
    </form>
	<form id="create_request" method="POST" action="">
        <input type="submit" value="Create Cab Request">
    </form>
    <form id="disconnect" method="POST" action="">
        <input type="submit" value="Disconnect">
    </form>
    <h2>Log:</h2>
    <div id="log"></div>
</body>
</html>